@keyframes up {
    from {
      opacity: 0;
      transform: translatey(16px);
    }
    to {
      opacity: 1;
      transform: translatey(0);
    }
  }
  
  .animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
  }
  