* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  color: white;
}

:root {
  font-size: 62.5%;
}

body,
input,
button,
textarea {
font-size: 1.8rem;
font-weight: 400;
line-height: 1;
font-family: "nunito", sans-serif;

  font: 400 18px/1 "nunito", sans-serif;
}
