#page-orphanages {
  width: 100%;
  height: 100%;
  display: flex;
}

aside {
  width: clamp(24rem, 25vw, 44rem);
  background: linear-gradient(329.54deg, #15b6d6 0%, #15d6d6 100%);
  padding: clamp(3rem, 5vw, 8rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside h2 {
  margin-top: 2.4rem;
  font: 800 3.6rem/1.1 "Nunito", sans-serif;
}
aside p {
  margin-top: 2.4rem;
  font: 400 1.6rem/1.1 "Nunito", sans-serif;
}

aside footer p {
  margin-top: 0.8rem;
}

/* button */
a.create-orphanage {
  position: absolute;
  right: 4rem; /* joga para o lado direito */
  bottom: 4rem; /* joga para baixo */
  border: 0;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
}

a.create-orphanage:houver {
  /*mudar o estado dele para o estado de houver */
  background: #17d6eb;
}

#mapid {
 width: 100%;
 height:100%;


}