#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  min-height: 100vh;
  text-align: center;
  display: flex;
}

#container {
  margin: auto;
  width: min(90%, 112rem);
}

.location,
h1,
.visit p {
  height: 16vh;
}

.location {
  animation-delay: 150ms;
}

.visit a:houver {
  background-color: white;
  cursor: pointer;
}


.visit a {
  width: 8rem;
  height: 8rem;
  background: #ffd666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: background 0.2s;
}

#logo {
  animation-delay: 100ms;
}


main h1 {
  animation-delay: 200ms;
  font-size: clamp(
    4rem,
    8vw,
    84rem
  );  /*define tamanhos de fonte pra determinadas telas */
}

.visit p {
  animation-delay: 250ms;
}

.visit a {
  animation-delay: 300ms;
}

/* desktop version, tem que ter tb no index a linha meta viewport */
@media (min-width: 760px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.location,
h1,
.visit p {
  height: initial;
  text-align: initial;
}

.location {
  text-align: right;
}

main h1 {
  
  font-weight: bold;
  width: min(300px, 80%);
  line-height: .88;
  margin: clamp(10%, 9vh, 12%) 1px 0 1px;
}
